# Dependencies
# Blokir folder node_modules di semua level proyek
**/node_modules

# Khusus Backend
/TokoKami/Backend/node_modules/
/TokoKami/Backend/.env
/TokoKami/Backend/dist/

# Khusus Frontend
/TokoKami/Frontend/node_modules/
/TokoKami/Frontend/package-lock.json
/TokoKami/Frontend/dist/

# System & IDE Files
.vscode/
.idea/
.DS_Store

# Logs
logs